<div class="mt-2" *ngIf="!isLoading;else Loading">
    <hr>
    <button mat-raised-button color="primary" (click)="ApproveAll()">Approve all</button>
    <button mat-raised-button color="primary" (click)="ApproveMarked()">Approve marked</button>
    <button mat-raised-button color="primary" (click)="ForbidAll()">Forbid all</button>
    <button mat-raised-button color="primary" (click)="ForbidMarked()">Forbid marked</button>
    <button mat-raised-button color="primary" (click)="Save()">
        <mat-icon matTooltip="Save records">save</mat-icon>
    </button>
    <dx-data-grid [dataSource]="registrations" (onInitialized)="saveGridInstance($event)" [showBorders]="true"
        [hoverStateEnabled]="true">
        <dxo-selection mode="multiple" selectAllMode="page" showCheckBoxesMode="always">
        </dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        
        <dxi-column caption="login" sortOrder="desc" [allowEditing]="false" dataField="login"></dxi-column>
        <dxi-column caption="course" alignment="left" sortIndex="0" sortOrder="desc" dataField="code"></dxi-column>
        <dxi-column caption="term" alignment="left" sortIndex="0" sortOrder="desc" dataField="name"></dxi-column>
        <dxi-column caption="approved" name="approve-editing" [allowFiltering]="false" [allowSorting]="false"
            cellTemplate="approveTemplate">
            <div *dxTemplate="let data of 'approveTemplate'">
                <mat-icon *ngIf="data.data.approved == 'Yes'" style="color: green;" matTooltip="Course is approved">done
                </mat-icon>
                <mat-icon *ngIf="data.data.approved == 'No'" style="color: red;" matTooltip="Course is not approved">
                    error</mat-icon>
                <mat-icon *ngIf="data.data.approved == 'Pending'" style="color: darkorange;"
                    matTooltip="Course is pending">warning</mat-icon>
            </div>
        </dxi-column>
    </dx-data-grid>
</div>

<ng-template #Loading>
    <h2>Loading...</h2>
</ng-template>