<div class="container">
    <ng-container *ngIf="!isLoading;else Loading">
        <button mat-raised-button color="primary" (click)="Save()" [disabled]="newCourseForm.invalid">
            <mat-icon>save</mat-icon>
        </button>
        <form [formGroup]="newCourseForm">
            <div class="mt-3 ml-3">
                <div class="row">
                    <div class="col-lg-3">
                        <mat-form-field>
                            <input matInput [value]="newCourseForm.get('code').value | uppercase" type="text"
                                placeholder="shortcut" formControlName="code" maxlength="3" minlength="3" required>
                            <mat-error *ngIf="code.invalid && code.touched"></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field>
                            <input matInput type="text" placeholder="name" formControlName="name" required>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field style="width: 400px">
                            <!-- Předelat na select -->
                            <mat-select formControlName="guarantor" placeholder="guarantor">
                                <mat-option *ngFor="let guarant of guarantors" value="{{ guarant.login }}">
                                    {{guarant.login}} | {{guarant.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <div class="row card">
                    <div class="card-body">
                        <mat-form-field style="width: 100%;">
                            <textarea matInput placeholder="Description" formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <h3>Terms:</h3>
                </div>
                <div *ngIf="staff != null && rooms != null;else Loading">
                    <dx-data-grid [dataSource]="dxTerms" [hoverStateEnabled]="true" [showBorders]="true">
                        <dxo-editing [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
                        </dxo-editing>
                        <dxi-column caption="Name" dataType="string" dataField="name">
                        </dxi-column>
                        <dxi-column dataField="lecturer" [allowEditing]="true" caption="Lecturer">
                            <dxo-lookup [dataSource]="staff" valueExpr="login" displayExpr="login">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="startDate" caption="Start Date" dataType="datetime"></dxi-column>
                        <dxi-column dataField="endDate" caption="End Date" dataType="datetime">
                        </dxi-column>
                        <dxi-column caption="max score" dataType="number" dataField="maxScore">
                        </dxi-column>
                        <dxi-column caption="Room" dataType="string" dataField="room">
                            <dxo-lookup [dataSource]="rooms">
                            </dxo-lookup>
                        </dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-template #Loading>
        <h2>Loading...</h2>
    </ng-template>
</div>