<div class="ml-3">
    <form [formGroup]="newForm">
        <mat-card-title>New Account</mat-card-title>
        <button [disabled]="newForm.invalid || password != confirmPassword" (click)="onSubmit()" class="ml-3" mat-raised-button color="primary">
            <mat-icon matTooltip="create new account" style="color: gray">save</mat-icon>
        </button>
        <div class="row mt-5 ml-2">
            <div class="col-lg-3">
                <h6>title before</h6>
                <mat-form-field>
                    <input matInput type="text" placeholder="Titles before name" formControlName="titlesBefore">
                </mat-form-field>
            </div>

            <div class="col-lg-3">
                <h6>first name</h6>
                <mat-form-field>
                    <input matInput type="text" placeholder="First name" formControlName="firstName" required>
                    <mat-error *ngIf="firstName.invalid && firstName.touched">Required first name</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-3">
                <h6>last name</h6>
                <mat-form-field>
                    <input matInput type="text" placeholder="Last name" formControlName="lastName" required>
                    <mat-error *ngIf="lastName.invalid && lastName.touched">Required last name</mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-3">
                <h6>title after</h6>
                <mat-form-field>
                    <input matInput type="text" placeholder="Titles after" formControlName="titlesAfter">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <h6>phone number</h6>
                <mat-form-field>
                    <input matInput type="number" placeholder="Phone number" formControlName="number">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <h6>email address</h6>
                <mat-form-field>
                    <input matInput type="email" placeholder="email address" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row ml-2">
            <div class="col-lg-4">
                <h6>password</h6>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                    <!--TODO Tooltip-->
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <h6>password confirm</h6>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password Confirm" formControlName="confirmPassword" required>
                </mat-form-field>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field>
                    <mat-label>Role (privileges)</mat-label>
                    <mat-select placeholder="select privileges" formControlName="role" required>
                        <mat-option *ngFor="let role of roles" [value]="role.name">
                            {{role.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="role.invalid">This field is required</mat-error>
                </mat-form-field>
                <mat-icon style="color: gray" matTooltip="Sets privileges of this account (required)">info
                </mat-icon>
            </div>
            <div formGroupName="specialization">
                <div *ngIf="role.value == 'student'">
                    <mat-form-field style="width: fit-content">
                        <input matInput type="number" placeholder="year of study" formControlName="yearOfStudy">
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-lg-6" *ngIf="role.value == 'lecturer' || role.value == 'guarantor' || role.value == 'head'">
                        <mat-form-field style="width: fit-content">
                            <input matInput type="text" placeholder="Institute" formControlName="institute">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>