<div class="mt-2" *ngIf="!isLoading;else Loading">
    <hr>
    <dx-data-grid [dataSource]="myCoursesList" [noDataText]="'No Signed Courses'" [hoverStateEnabled]="true"
        [showBorders]="true">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column caption="detail" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
            cellTemplate="detailTemplate" width="50">
            <div *dxTemplate="let data of 'detailTemplate'">
                <dx-button icon="info" [routerLink]="['/AllCourses',data.data.code]"
                    [queryParams]="{login:login, role : role}" matTooltip="detail of this course">
                </dx-button>
            </div>
        </dxi-column>
        <dxi-column caption="code" width="75px" sortOrder="desc" dataField="code"></dxi-column>
        <dxi-column caption="name" sortIndex="0" sortOrder="desc" dataField="name"></dxi-column>
        <dxi-column caption="date" sortIndex="0" sortOrder="desc" dataType="datetime" dataField="startDate"></dxi-column>
        <dxi-column caption="score" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
            cellTemplate="detaiTemplate">
            <div *dxTemplate="let data of 'detaiTemplate'">
                <button *ngIf="data.data.signedAs == 'lector'" mat-raised-button color="primary"
                    [routerLink]="['/ScoreTerm', data.data.name]">
                    Rate students
                </button>
                <div *ngIf="data.data.signedAs == 'student'">
                    {{data.data.score}}
                </div>
            </div>
        </dxi-column>
    </dx-data-grid>
</div>

<ng-template #Loading>
    <h2>Loading...</h2>
</ng-template>