::ng-deep .dx-scheduler-date-table-other-month.dx-scheduler-date-table-cell {
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
}

::ng-deep .dx-scheduler-group-header-content, ::ng-deep .dx-scheduler-date-table-cell {
    position: relative;
}

::ng-deep .dx-scheduler-date-table-cell .dx-template-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

::ng-deep .avatar {
    width: 155px;
    float: left;
    overflow: hidden;
    position: relative;
    height: 125px;
}

::ng-deep .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

::ng-deep .name h2 {
    color: #fff;
    text-align: left;
    padding: 0 0 5px 175px;
    margin: 0;    
}

::ng-deep .dx-theme-material .name h2 {
    font-size: 28px;
}

::ng-deep .info {
    width: auto;
    text-align: left;
    height: 100%;
    font-size: 11pt;
    font-weight: normal;
    padding: 25px 20px;
}

::ng-deep .userInfo div {
    margin: 20px;
}

::ng-deep .day-cell {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

::ng-deep .employee-1 {
    background-color: rgba(86, 202, 133, 0.1);
}

::ng-deep .employee-2 {
    background-color: rgba(255, 151, 71, 0.1);
}

::ng-deep .employee-weekend-1 {
    background-color: rgba(86, 202, 133, 0.2);
}

::ng-deep .employee-weekend-2 {
    background-color: rgba(255, 151, 71, 0.2);
}

/* ::ng-deep .training-background-0 {
    background-image: url("images/gym/icon-abs.png");
}

::ng-deep .training-background-1 {
    background-image: url("images/gym/icon-step.png");
}

::ng-deep .training-background-2 {
    background-image: url("images/gym/icon-fitball.png");
} */
