<div *ngIf="courses != [];else Loading">
    <dx-scheduler [dataSource]="dataSource"
                [views]="['day','week','month']"
                currentView="week"
                [currentDate]="currentDate"
                [firstDayOfWeek]="1"
                [startDayHour]="1"
                [endDayHour]="24"
                [showAllDayPanel]="false"
                [height]="innerHeight - 100"
                [width]=innerWidth>
                <dxo-editing #editingOptions
                    [allowAdding]="false"
                    [allowDeleting]="false"
                    [allowUpdating]="false"
                    [allowResizing]="false"
                    [allowDragging]="false"
                ></dxo-editing>
    </dx-scheduler>
</div>
<ng-template #Loading>
    <h2>Loading...</h2>
</ng-template>

