<form [formGroup]="signForm">
    <div class="mx-auto mt-5" align="center">
        <div class="col-sm-4"></div>
        <h2>Welcome to IIS school</h2>
        <div class="card col-md-4">
            <!-- <img src="/Skola/src/shield.png"> -->
            <div class="row mt-3 ml-5">
                <mat-form-field appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput type="text" placeholder="Login" formControlName="login" required>
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <mat-hint>xlogin00</mat-hint>
                </mat-form-field>
            </div>

            <div class="row ml-5">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password"  required>
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>xlogin00</mat-hint> -->
                </mat-form-field>
            </div>

            <button [disabled]="signForm.invalid" align="center" mat-raised-button color="primary"
                (click)="ValidateCredentials()">Let's go
            </button>
            <a (click)="SignAsHost()">sign as host</a>
            <div class="alert alert-danger" role="alert" [hidden]="!wrongCredentials">
                This credetials are not valid!
            </div>
        </div>
        <div class="col-sm-4">
        </div>


    </div>
</form>