<div class="row">
    <div class="col-md-1 ml-2 mt-2">
        <button *ngIf="HasRight()" mat-raised-button color="primary" [routerLink]="['/','NewCourse']" [queryParams]="{login:login, role : role}">Add new course</button>
    </div>
</div>
<hr>
<div class="mt-2">
    <hr>
    <dx-data-grid [dataSource]="coursesList" [hoverStateEnabled]="true" [showBorders]="true">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxi-column caption="detail" name="command-editing" [allowFiltering]="false" [allowSorting]="false" cellTemplate="detailTemplate"
            width="50">
            <div *dxTemplate="let data of 'detailTemplate'">
                <dx-button icon="info" [routerLink]="[data.data.code]" [queryParams]="{login:login, role : role}">
                </dx-button>
            </div>
        </dxi-column>
        <dxi-column caption="code" width="75px" sortOrder="desc" dataField="code"></dxi-column>
        <dxi-column caption="name" alignment="left" sortIndex="0" sortOrder="desc" dataField="name"></dxi-column>
        <dxi-column caption="guarantor" sortOrder="desc" dataField="guarantor"></dxi-column>
    </dx-data-grid>
</div>