<div class="container" *ngIf="!isLoading;else Loading">
    <div class="row mt-4 ml-4" *ngIf="HasRight()">
        <button mat-raised-button color="primary" (click)="EditCourse()">
            <div *ngIf="!edit">Edit course</div>
            <div *ngIf="edit">Show course</div>
        </button>
        <button mat-raised-button color="primary" *ngIf="edit" (click)="deleteCourse()">Delete course</button>
        <button mat-raised-button color="primary" [disabled]="form.invalid" *ngIf="edit" (click)="SaveCourse()">
            <mat-icon matTooltip="save this course">save_icon</mat-icon>
        </button>
        <hr>
    </div>
    <ng-container *ngIf="!edit;else Edit">
        <div class="col-sh-1">
        </div>
        <div class="col-lg-10">

            <div class="body mt-5">
                <div class="row">
                    <div class="col-lg-1">
                        {{ detail.code }}
                    </div>
                    <div class="col-lg-11">
                        {{ detail.name }}
                    </div>
                </div>

                <div id="small-field">
                    <div class="dx-field-label">Head:</div>
                    <p class="pt-2">{{ headName }}</p>
                </div>

                <div id="small-field" class="mt-2">
                    <div class="dx-field-label">Guarantor:</div>
                    <p class="pt-2">{{ leaderName }}</p>
                </div>

                <div id="small-field" class="mt-5">
                    <div class="dx-field-label">Description:</div><br>
                    <div class="card mt-4">
                        <div class="card-body">
                            <p align="justify">{{ detail.description }}</p>
                        </div>
                    </div>
                </div>

            </div>
            <hr>
            <div>Course terms:</div>
            <dx-data-grid [dataSource]="detail.date_of_course" [hoverStateEnabled]="true" [showBorders]="true">
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxi-column caption="name" sortOrder="desc" dataField="id"></dxi-column>
                <dxi-column caption="start date" dataType="datetime" alignment="left" dataField="startDate"
                    sortOrder="desc"></dxi-column>
                <dxi-column caption="end date" dataType="datetime" alignment="left" dataField="endDate"
                    sortOrder="desc"></dxi-column>
                <dxi-column caption="lector" sortOrder="desc" dataField="lecturer"></dxi-column>
                <dxi-column caption="signed students" dataType="number" alignment="left" dataField="currentCapacity">
                </dxi-column>
                <dxi-column caption="max. capacity" dataType="number" alignment="left" dataField="maxCapacity">
                </dxi-column>
                <dxi-column *ngIf="role != 'host'" caption="detail" name="command-editing" [allowFiltering]="false" [allowSorting]="false"
                    cellTemplate="signTemplate" width="150">
                    <div *dxTemplate="let data of 'signTemplate'">
                        <button mat-raised-button color="primary" (click)="SignCourse(data.data)">Sign course
                        </button>
                    </div>
                </dxi-column>
            </dx-data-grid>
            <br>
        </div>
        <div class="col-lg-1">
        </div>
    </ng-container>

    <ng-template #Edit>
        <form [formGroup]="form">
            <div class="col-sh-1">
            </div>
            <div class="col-lg-10">

                <div class="body mt-5">
                    <div class="row">
                        <div class="col-lg-1">
                            <mat-form-field style="width: 6vw;">
                                <input matInput [value]="form.get('code').value | uppercase" type="text" placeholder="code" formControlName="code" maxlength="3"
                                    required>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-11">
                            <mat-form-field style="width: 50vw;">
                                <input matInput type="text" placeholder="name" formControlName="name" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div id="small-field">
                        <div class="dx-field-label">Head:</div>
                        <mat-form-field>
                            <mat-select formControlName="head" [placeholder]="form.value.head" required>
                                <mat-option *ngFor="let head of heads" value="{{ head.login }}">
                                    {{ head.name }} | {{ head.login }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div id="small-field">
                        <div class="dx-field-label">Guarantor:</div>
                        <mat-form-field>
                            <mat-select formControlName="guarantor" [placeholder]="form.value.guarantor" required>
                                <mat-option *ngFor="let leader of leaders" value="{{ leader.login }}">
                                    {{ leader.name }} | {{ leader.login }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div id="small-field" class="mt-4">
                        <div class="dx-field-label">Description:</div><br>
                        <div class="card-body">
                            <div class="card mt-4">
                                <mat-form-field>
                                    <textarea matInput type="text" placeholder="description"
                                        formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>Course terms:</div>
                <dx-data-grid [dataSource]="detail.date_of_course" [hoverStateEnabled]="true" [showBorders]="true">
                    <dxo-editing [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"></dxo-editing>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>

                    <dxi-column caption="name" dataType="text" [allowSearch]="true" alignment="left" dataField="id"></dxi-column>
                    <dxi-column caption="start date" dataType="datetime" [allowSearch]="true" alignment="left"
                        dataField="startDate"></dxi-column>
                    <dxi-column caption="end date" dataType="datetime" alignment="left" dataField="endDate">
                    </dxi-column>
                    <dxi-column caption="lector" sortOrder="desc" dataField="lecturer">
                        <dxo-lookup [dataSource]="educators" valueExpr="login" displayExpr="name">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column caption="room" dataType="text" alignment="left" dataField="room">
                        <dxo-lookup [dataSource]="rooms">
                        </dxo-lookup>
                    </dxi-column>
                </dx-data-grid>
                <br>
            </div>
            <div class="col-lg-1">
            </div>
        </form>
    </ng-template>
</div>

<ng-template #Loading>
    <h2>Loading...</h2>
</ng-template>