<div class="container">
    <ng-container *ngIf="!isLoading;else Loading">
        <div class="row">
            <div class="col-md-1 ml-2 mt-2">
                <button mat-raised-button color="primary" [routerLink]="['/','AddNewAccount']" [queryParams]="{login:login, role : role}">Add new account</button>
            </div>
        </div>
        <hr>

        <div class="row ml-2">
            <div class="col-xs-1">
                <button mat-raised-button color="primary" (click)="EditMarked()">
                    <div *ngIf="!edit">Edit marked</div>
                    <div *ngIf="edit">Show Accounts</div>
                </button>
            </div>
            <div class="col-xs-1 ml-1">
                <button *ngIf="!edit" mat-raised-button color="primary" (click)="DeleteMarked()">Delete marked</button>
            </div>
        </div>
        <div class="container">
            <ng-container *ngIf="!edit;else editAccounts">

                <dx-data-grid [dataSource]="accountList" (onInitialized)="saveGridInstance($event)"
                    [hoverStateEnabled]="true" [showBorders]="true">
                    <dxo-selection mode="multiple" selectAllMode="page" showCheckBoxesMode="always">
                    </dxo-selection>
                    <dxo-load-panel [enabled]="true"></dxo-load-panel>

                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxi-column caption="Login" sortOrder="desc" dataField="login"></dxi-column>
                    <dxi-column caption="Role" alignment="left" sortIndex="0" sortOrder="desc" dataField="role">
                    </dxi-column>
                </dx-data-grid>
            </ng-container>

            <ng-template #editAccounts>
                <button class="mr-2" mat-raised-button color="primary" [disabled]="!isAllValid()" (click)="saveModified()">
                    <mat-icon matTooltip="Save accounts">save</mat-icon>
                </button>
                <div *ngFor="let accountForm of accountForms">
                    <form [formGroup]="accountForm">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{accountForm.value.login}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        edit account &nbsp;<i class="correct" *ngIf="isValid(accountForm)">Account is in valid form</i>
                                                           <i class="incorrect" *ngIf="!isValid(accountForm)">Account is in invalid form</i>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <mat-form-field>
                                            <input matInput type="text" placeholder="titles before" formControlName="titlesBefore">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3">
                                        <mat-form-field>
                                            <input matInput type="text" placeholder="first name" formControlName="firstName" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3">
                                        <mat-form-field>
                                            <input matInput type="text" placeholder="last name" formControlName="lastName" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3">
                                        <mat-form-field>
                                            <input matInput type="text" placeholder="titles after" formControlName="titlesAfter">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <mat-form-field>
                                            <input matInput type="number" placeholder="phone number" formControlName="number">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3">
                                        <mat-form-field>
                                            <input matInput type="email" placeholder="email" formControlName="email">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </form>
                </div>
            </ng-template>
        </div>
    </ng-container>
    <ng-template #Loading>
        <h2>Loading...</h2>
    </ng-template>

</div>