<div *ngIf="!isLoading;else Loading">
    <form [formGroup]="value">
        <mat-form-field>
            <input matInput min="0" formControlName="scoreValue" type="number">
            <mat-hint>Max possible score is {{ maxScore }}</mat-hint>
        </mat-form-field>
    <button mat-raised-button color="primary" (click)="SetChanges()" [disabled]="value.invalid">set value on marked</button>
    <button mat-raised-button color="primary" (click)="Save()"><mat-icon matTooltip="Save records">save</mat-icon></button>
    <hr>
    <dx-data-grid [dataSource]="termAccounts"  (onInitialized)="saveGridInstance($event)" [showBorders]="true" [hoverStateEnabled]="true"
        [showBorders]="true">
        <dxo-selection mode="multiple" selectAllMode="page" showCheckBoxesMode="always">
        </dxo-selection>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>

        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column caption="Login" sortOrder="desc" [allowEditing]="false" dataField="login"></dxi-column>
        <dxi-column caption="score" alignment="left" sortIndex="0" sortOrder="desc" dataField="rating" [showEditorAlways]="true">
        </dxi-column>
    </dx-data-grid>
    </form>
</div>

<ng-template #Loading>
    <h2>Loading...</h2>
</ng-template>

