<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row [ngStyle]="{width : innerWidth}">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 [routerLink]="['/', 'Schedule']">IIS School &nbsp;</h1>
    <div>
      <a mat-button [routerLink]="['/','Schedule']" routerLinkActive="activeButton">My schedule</a>
      <a mat-button [routerLink]="['/','MyTerms']" routerLinkActive="activeButton">My terms</a>
      <a mat-button [routerLink]="['/','AllCourses']" routerLinkActive="activeButton">All courses</a>
      <a mat-button [routerLink]="['/','ApproveCourses']"
        *ngIf="role == 'head' || role == 'guarantor' || role == 'admin'" routerLinkActive="activeButton">Approve courses</a>
      <a mat-button [routerLink]="['/','ApproveRegistrations']"
        *ngIf="role == 'head' || role == 'guarantor' || role == 'admin'"
        routerLinkActive="activeButton">Approve registrations</a>
      <a mat-button [routerLink]="['/','ManageAccounts']"
        *ngIf="role == 'admin'" routerLinkActive="activeButton">Manage accounts</a>

      <button type="button" [routerLink]="['/']" (click)="deleteCookies()" mat-icon-button href="">
        <mat-icon matTooltip="Log out">exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container style="height:100%;width:100%;">
  <mat-sidenav #sidenav fixedInViewport="true" mode="side" role="navigation" style="background-color: royalblue;">
    <mat-nav-list>
      <div class="pl-3">
        <mat-icon style="color: white" matTooltip="pin sidebar" (click)="lockSidebar = !lockSidebar"
          *ngIf="!lockSidebar">lock_open</mat-icon>
        <mat-icon style="color: white" matTooltip="unpin sidebar" (click)="lockSidebar = !lockSidebar"
          *ngIf="lockSidebar">lock</mat-icon>
      </div>
      <a mat-list-item style="color: white" [routerLink]="['/','Schedule']">My schedule</a>
      <a mat-list-item style="color: white" [routerLink]="['/','MyTerms']">My Terms</a>
      <a mat-list-item style="color: white" [routerLink]="['/','AllCourses']"
      >All Courses</a>
      <a mat-list-item style="color: white" [routerLink]="['/','ManageAccounts']"
       *ngIf="role == 'admin'">Manage Accounts</a>
      <a mat-list-item style="color: white" [routerLink]="['/','ApproveCourses']" *ngIf="role == 'head' || role == 'guarantor' || role == 'admin'"
      >Approve courses</a>
      <a mat-list-item style="color: white" [routerLink]="['/','ApproveRegistrations']" *ngIf="role == 'head' || role == 'guarantor' || role == 'admin'"
      >Approve registration</a>
      <a mat-list-item style="color: white" (click)="sidenav.toggle()">Close
        <mat-icon matTooltip="Close panel">exit_to_app</mat-icon></a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div (click)="!lockSidebar && sidenav.close()">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <router-outlet></router-outlet> -->